@import url('https://fonts.googleapis.com/css2?&family=Quicksand:wght@300&display=swap');

.nav {
  grid-area: 1/1/2/-1;
  margin: 1vh;
  width: 80%;
  justify-self: center;
  align-self: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  display: grid;
  grid-template: 1fr / max-content 1fr;
}

.whiteAbout {
  grid-area: 1/1/-1/2;
  align-self: end;
}

.whiteCommunity {
  grid-area: 1/2/-1/-1;
  align-self: end;
  justify-self: end;
}

.whiteAbout, .whiteCommunity {
  color: white;
  z-index: 1;
  margin-top: 30px;
  border: 1.5px solid white;
  border-radius: 20px;
  padding: 10px;
}

@media only screen 
  and (orientation: landscape) {
  .nav {
    display: none;
  }
}